<div id="wrapper">
        <div id="left-side-bar">
        </div>
        <div id="current-game-container">
            <div id="login-container"></div>
            <div id="main-game-container">
                <div id="error-messages"></div>
            </div>
            <div id="current-game-state">
            </div>
        </div>
        <div id="right-side-bar">
        </div>
    </div>