body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

.book-list{
    width:32%;
    display: inline-block;
    height:100px;
}

.search-header{
    font-size:18px;
    font-weight:bold;
}