@{
    ViewBag.Title = "Home Page";  
}

<p>If you want to have permisions for administrations area use username: <strong>admin</strong> and password: <strong>123456</strong></p>

<form action="/Tweets/Search" method="post" class="form-search">
    <div class="input-append">
        <input type="text" name="SearchedWord" class="span2 search-query" placeholder="Search for tags">
        <button type="submit" class="btn">Search</button>
    </div>
</form>