@model IEnumerable<Twitter.Models.TwitterUser>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>