<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="BlogDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BlogDatabase;Trusted_Connection=true;Integrated Security=true;" />
    </connectionStrings>
</configuration>
