<a id="register" href="#/register" class="k-button">Register</a>
<fieldset class="k-block k-info-colored">
    <legend>Login</legend>
    <label for="tb-username">Username:</label>
    <input data-bind="value: username" type="text" id="tb-username" class="k-textbox" value="Username" />
    <label for="tb-password">Password:</label>
    <input data-bind="value: password" type="password" id="tb-password" class="k-textbox" value="Password" />
    <div id="btn-layout">
        <button data-bind="click: login" class="k-button">Login</button>
    </div>
</fieldset>