<script type="text/x-kendo-template" id="store-template">
   <div>
        <ul>
            <li data-bind="text: store.name"></li>
            <li data-bind="text: store.adress"></li>    
            <li data-bind="text: store.city"> </li>
        </ul>
       <!--<div data-role="grid" data-draggable="true" data-selectable="row" data-sortable="true" data-groupable="true" data-pageable="{pageSize:'5',refresh:true, pageSizes:true}" data-columns='[
    {
        field: "id",
        hidden: true
    },

    {
        title: "Make",
        field: "make"
    },
    {
        title: "Model",
        field: "model"
    },
    {
        title: "Year",
        field: "year"
    },
    {
        title: "Horse Power",
        field: "power"
    },
      {
        title: "Doors",
        field: "doors"
    },
        {
        title: "Engine",
        field: "engine"
    },
      {
        title: "Seats",
        field: "seats"
    } ]' data-bind="source: cars">

       </div>-->
    </div>
</script>
