<a id="login" href="#/login" class="k-button">Login</a>
<fieldset class="k-block k-info-colored">
    <legend>Register</legend>
    <label for="tb-username">Username:</label>
    <input data-bind="value: username" type="text" id="tb-username" class="k-textbox" value="Username" />
    <label for="tb-password">Password:</label>
    <input data-bind="value: password" type="password" id="tb-password" class="k-textbox" value="Password" />
    <label for="tb-nickname">Nickname:</label>
    <input data-bind="value: nickname" type="text" id="nickname" class="k-textbox" value="Nickname" />
    <div id="btn-layout">
        <button data-bind="click: register" class="k-button">Register</button>
    </div>
</fieldset>