body {
}

ul{
    border:1px solid rgba(238,238,238,1);
    padding:0;
    margin:20px;
    display:inline-block;
    background:url(Images/menu-horizontal.png);
    background-repeat:repeat-x;
    background-position: 0 0;
    height:48px;
    border-radius:5px;
}

ul li{
    list-style-type:none;
    float:left;
    padding:15px;
    border-right:1px solid rgba(238,238,238,1);
    border-left:1px solid white;
    color:rgb(167,22,46);
    font-size:16px;
    font-weight:700;
    font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

ul li:first-of-type{
    border-left:none;
}

ul li:last-of-type{
    border-right:none;
}