.sprite-icons-comment{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-icons-comment_add{ background-position: 0 -21px; width: 16px; height: 16px; } 
.sprite-icons-comment_delete{ background-position: 0 -42px; width: 16px; height: 16px; } 
.sprite-icons-comment_edit{ background-position: 0 -63px; width: 16px; height: 16px; } 
.sprite-icons-comments{ background-position: 0 -84px; width: 16px; height: 16px; } 
.sprite-icons-comments_add{ background-position: 0 -105px; width: 16px; height: 16px; } 
.sprite-icons-comments_delete{ background-position: 0 -126px; width: 16px; height: 16px; } 
.sprite-icons-folder{ background-position: 0 -147px; width: 16px; height: 16px; } 
.sprite-icons-folder_add{ background-position: 0 -168px; width: 16px; height: 16px; } 
.sprite-icons-folder_delete{ background-position: 0 -189px; width: 16px; height: 16px; } 
.sprite-icons-folder_edit{ background-position: 0 -210px; width: 16px; height: 16px; } 
.sprite-icons-group{ background-position: 0 -231px; width: 16px; height: 16px; } 
.sprite-icons-group_add{ background-position: 0 -252px; width: 16px; height: 16px; } 
.sprite-icons-group_delete{ background-position: 0 -273px; width: 16px; height: 16px; } 
.sprite-icons-group_edit{ background-position: 0 -294px; width: 16px; height: 16px; } 
.sprite-icons-page_white{ background-position: 0 -315px; width: 16px; height: 16px; } 
.sprite-icons-page_white_acrobat{ background-position: 0 -336px; width: 16px; height: 16px; } 
.sprite-icons-page_white_actionscript{ background-position: 0 -357px; width: 16px; height: 16px; } 
.sprite-icons-page_white_add{ background-position: 0 -378px; width: 16px; height: 16px; } 
.sprite-icons-page_white_c{ background-position: 0 -399px; width: 16px; height: 16px; } 
.sprite-icons-page_white_camera{ background-position: 0 -420px; width: 16px; height: 16px; } 
.sprite-icons-page_white_cplusplus{ background-position: 0 -441px; width: 16px; height: 16px; } 
.sprite-icons-page_white_csharp{ background-position: 0 -462px; width: 16px; height: 16px; } 
.sprite-icons-page_white_cup{ background-position: 0 -483px; width: 16px; height: 16px; } 
.sprite-icons-page_white_delete{ background-position: 0 -504px; width: 16px; height: 16px; } 
.sprite-icons-page_white_edit{ background-position: 0 -525px; width: 16px; height: 16px; } 
.sprite-icons-page_white_excel{ background-position: 0 -546px; width: 16px; height: 16px; } 
.sprite-icons-page_white_php{ background-position: 0 -567px; width: 16px; height: 16px; } 
.sprite-icons-page_white_powerpoint{ background-position: 0 -588px; width: 16px; height: 16px; } 
.sprite-icons-page_white_ruby{ background-position: 0 -609px; width: 16px; height: 16px; } 
.sprite-icons-user{ background-position: 0 -630px; width: 16px; height: 16px; } 
.sprite-icons-user_add{ background-position: 0 -651px; width: 16px; height: 16px; } 
.sprite-icons-user_delete{ background-position: 0 -672px; width: 16px; height: 16px; } 
.sprite-icons-user_edit{ background-position: 0 -693px; width: 16px; height: 16px; } 