@{
    ViewBag.Title = "Home Page";  
}

<h2>PingPong</h2>

<style>
    .drawing-area {
        width: 700px;
        height: 400px;
        border: 1px solid black;
    }
</style>
<p>You can control left paddle with 'W' and 'S' and right paddle with 'Up arrow' and 'Down arrow'</p>
<button id="start-game">Start game</button>
<br />
<canvas id="drawing-area" class="drawing-area" width="700" height="400"></canvas>