body {
  font-size: 16px;
}
body h1 {
  font-size: 2.1em;
  text-align: center;
}
body #students-container {
  margin: 0;
  padding: 0;
}
body #students-container ul {
  list-style-type: none;
  margin: 0;
  margin-left: 1em;
  padding: 0;
}
body #students-container ul.list-students {
  text-align: justify;
}
body #students-container ul.list-students > li {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  height: 200px;
  margin-left: 5px;
  margin-bottom: 5px;
}
body #students-container ul li {
  display: table;
}
body #students-container ul li > strong {
  font-size: 1.1em;
}
body #students-container ul li a.btn-delete {
  display: inline-block;
  margin: 0;
  margin-left: 35px;
  padding: 5px;
  border-radius: 5px;
  top: 0;
  right: 0;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}
body #students-container ul li a.btn-delete:hover {
  text-decoration: underline;
}
body #students-container ul li:hover {
  background-color: #ccc;
}
