body, html {
    width:100%;
    height:100%;
}

section {
    border:1px solid black;
    display:inline-block;
    width:50%;
    padding:1%;
}

.mainContainer {
    width:50%;
    margin:0 auto;
}

.secondContainer {
    width:160%;
}

fieldset {
    display:inline-block;
    width:42%;
}

fieldset > div {
    display:inline-block;
}

fieldset > p {
    display:inline-block;
    margin:0 19% 0 0;
}

fieldset > legend {
    text-align:center;
}

.rightBar {
    display:inline-block;
    width:12%;
    vertical-align:top;
    padding-top:13%;
}

.rightBar input {
    display:block;
}

nav {
    width:80%;
}

nav > ul {
    list-style-type:none;
    text-align:center;
}

    nav > ul > li {
        display:inline-block;
    }

a {
    font-weight:bold;
}