<h4>Dotos</h4>
<div data-role="grid"
    data-sortable="true"
    data-editable="true"
    data-pageable="{pageSize: '5'}"
    data-columns='[{
                    field: "text",
                    width: "90%",
                    title: "Text",
                    attributes: { style: "text-align:center" }
                    }, {
                    field: "isDone",
                    width: "10%",
                    title: "Is Done",
                    attributes: { style: "text-align:center" }
                    },]',
                    data-bind="source: todos">
</div>